In [104]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import urllib.request
from urllib.request import urlopen
import webbrowser
import re
from urllib.parse import urlparse

In [105]:
#this is where it takes in the input - a excel or csv file with 
#Last name , Zip Code (as columns, in that order)


#this takes in an excel file input 
df1 = pd.read_excel(r'/Users/aishvishah/Documents/brightfox/Cal Excel/2025/Cal2025-12.xlsx')

#take a csv file input - change the red part 
#df1 = pd.read_csv('file_name.csv')
df1

          Thota,  94583,
0       Tirrell,  94583,
1        Tiwari,  94583,
2         Tobey,  94583,
3         Tokar,  94583,
4           Tom,  94583,
5        Treyes,  94583,
6      Trottier,  94583,
7      Trouette,  94583,
8        Truong,  94583,
9         Tuman,  94583,
10        Tuyor,  94583,
11         Uong,  94583,
12        Uppar,  94583,
13          Urs,  94583,
14         Vago,  94583,
15     Vaishnav,  94583,
16       Valdez,  94583,
17     Varanasi,  94583,
18       Varela,  94583,
19      Vaughan,  94583,
20  Veerapaneni,  94583,
21       Velaan,  94583,
22    Velasquez,  94583,
23    Venkatesh,  94583,
24         Vera,  94583,
25       Vereen,  94583,
26        Vigil,  94583,
27   Vijayanand,  94583,
28      Villela,  94583,
29      Vincent,  94583,
30        Vivar,  94583,
31    Von Sosen,  94583,
32       Wasley,  94583,
33      Watkins,  94583,
34       Watson,  94583,
35       Weaver,  94583,
36         Weed,  94583,
37         West,  94583,
38      Wharton,  94583,
39     Whiteman,  94583,
40       Widmer,  94583,
41       Wiggan,  94583,
42       Wilson,  94583,
43      Withana,  94583,
44    Wollaston,  94583,
45     Woodward,  94583,
46          Xie,  94583,
47        Xiong,  94583,
48       Yamada,  94583,
49    Yang Caro,  94583,
50      Yassini,  94583,
51  Yenamareddy,  94583,
52        Young,  94583,
53           Yu,  94583,
54          Zax,  94583,
55         Zhen,  94583,
56          Zhu,  94583,
57    Zicherman,  94583,
58       Zuniga,  94583,

In [106]:
links = []


#edit this code for different zip codes and cities 
zip_code = "94583"
city = "San+Ramon"

for index in range(len(df1)):
    last_name = df1.iloc[index][0][:-1]
    link = "https://www.melissa.com/v2/lookups/personatorsearch/?name=" + last_name + "&city=" + city + "&state=CA&postalCode=" + zip_code + "&melissaAddressKey=&phoneNumber=+&emailAddress=+&freeForm=&fmt=json&id=NIJVq8ms8hazqSiCXu_srO**nSAcwXpxhQ0PC2lXxuDAZ-**"
    links.append(link)

In [107]:
#make this a method that it calls each time, for all valid links 
def create_panda(html):
    #initializing all the lists to hold data
    full_names = []
    first_names = []
    last_names = []
    addresses = []
    ages = []

    pattern = "FullName"
    #run this code to append all FullNames
    for match in re.finditer(pattern, html):
        starting = match.end() + 3
        ending = match.end() + 30
        full_name = html[starting : ending]
        full_name = full_name.split("\",")[0]
        full_names.append(full_name)


    #run this code to append all FirstName
    pattern1 = "FirstName"
    for match in re.finditer(pattern1, html):
        starting = match.end() + 3
        ending = match.end() + 30
        first_name = html[starting : ending]
        first_name = first_name.split("\",")[0]
        first_names.append(first_name)


    #run this code to append all LastName
    pattern2 = "LastName"
    for match in re.finditer(pattern2, html):
        starting = match.end() + 3
        ending = match.end() + 30
        last_name = html[starting : ending]
        last_name = last_name.split("\",")[0]
        last_names.append(last_name)

    #run this code to append all AddressLine1
    pattern3 = "AddressLine1"
    for match in re.finditer(pattern3, html):
        starting = match.end() + 3
        ending = match.end() + 30
        address = html[starting : ending]
        address = address.split("\",")[0]
        addresses.append(address)

    #run this code to append all Age
    pattern4 = "Age"
    for match in re.finditer(pattern4, html):
        starting = match.end() + 3
        ending = match.end() + 5
        age = html[starting : ending]
        age = age.split("\",")[0]
        ages.append(age) 

    tiny_df = pd.DataFrame({"FullName": full_names,
                       "FirstName": first_names, 
                      "LastName": last_names, 
                      "AddressLine1": addresses, 
                      "Age": ages})
    return tiny_df

In [108]:
#initializing the data frame that stores all the information 
df_with_info = pd.DataFrame(columns = ['FullName', 'FirstName', 'LastName', 'AddressLine1', 'Age'])
df_with_info

Empty DataFrame
Columns: [FullName, FirstName, LastName, AddressLine1, Age]
Index: []

In [109]:
#for loop to traverse all the links 
for url in links:
    #url = "https://www.melissa.com/v2/lookups/personatorsearch/?name=Le&city=San+Ramon&state=CA&postalCode=94583&melissaAddressKey=&phoneNumber=+&emailAddress=+&freeForm=&fmt=json&id=NIJVq8ms8hazqSiCXu_srO**nSAcwXpxhQ0PC2lXxuDAZ-**"
    req = requests.get(url)
    if req.status_code in [200]:
        html = req.text
        df_returned = create_panda(html)
        #concatonate all the dataframes to create a big one

        if not df_returned.empty:
            print(df_returned)
            mix = [df_returned, df_with_info]
            df_with_info = pd.concat(mix)
            df_with_info
    else:
        continue

            FullName FirstName LastName              AddressLine1 Age
0  Matthew R Tirrell   Matthew  Tirrell  1310 Bollinger Crest Cmn  49
1    Matthew Tirrell   Matthew  Tirrell  1310 Bollinger Crest Cmn  0"
2  Melanie A Tirrell   Melanie  Tirrell              311 Alora Ct  49
3    Melanie Tirrell   Melanie  Tirrell              311 Alora Ct  0"
          FullName FirstName LastName           AddressLine1 Age
0      Abit Tiwari      Abit   Tiwari      2221 Ashbourne Dr  0"
1    Deepak Tiwari    Deepak   Tiwari  384 Countrybrook Loop  0"
2     Meera Tiwari     Meera   Tiwari  286 Countrybrook Loop  0"
3      Neha Tiwari      Neha   Tiwari  384 Countrybrook Loop  0"
4  Rajeev K Tiwari    Rajeev   Tiwari      60 Springhaven Ct  47
5    Rajeev Tiwari    Rajeev   Tiwari      60 Springhaven Ct  0"
           FullName FirstName LastName  AddressLine1 Age
0  Daniella L Tobey  Daniella    Tobey  124 Marsh Pl  48
1    Daniella Tobey  Daniella    Tobey  124 Marsh Pl  0"
2  Robert Tobey Jr.    Robert    Tobey  124 Marsh Pl  0"
3      Robert Tobey    Robert    Tobey  124 Marsh Pl  53
4    Robert D Tobey    Robert    Tobey  124 Marsh Pl  0"
            FullName  FirstName LastName    AddressLine1 Age
0    Alexander Tokar  Alexander    Tokar  670 Greylyn Dr  47
1  Alexander A Tokar  Alexander    Tokar  670 Greylyn Dr  0"
2     Roseanna Tokar   Roseanna    Tokar  670 Greylyn Dr  35
3       Sharon Tokar     Sharon    Tokar  670 Greylyn Dr  0"
4     Sharon A Tokar     Sharon    Tokar  670 Greylyn Dr  59
           FullName  FirstName LastName         AddressLine1 Age
0        Amit S Tom       Amit      Tom  3195 Pine Valley Rd  0"
1   Christine S Tom  Christine      Tom  3195 Pine Valley Rd  49
2     Christine Tom  Christine      Tom  3195 Pine Valley Rd  0"
3        Daniel Tom     Daniel      Tom       3336 Estero Dr  26
4      Daniel K Tom     Daniel      Tom       3336 Estero Dr  0"
5     Darlene M Tom    Darlene      Tom       3336 Estero Dr  50
6       Darlene Tom    Darlene      Tom       3336 Estero Dr  0"
7        Eric H Tom       Eric      Tom     113 Valdivia Cir  44
8          Eric Tom       Eric      Tom     113 Valdivia Cir  0"
9        Kazuko Tom     Kazuko      Tom       3328 Estero Dr  81
10       Kyle H Tom       Kyle      Tom       3336 Estero Dr  0"
11         Kyle Tom       Kyle      Tom       3336 Estero Dr  0"
12       Leslie Tom     Leslie      Tom       9737 Davona Dr  0"
13       Lionel Tom     Lionel      Tom       3328 Estero Dr  70
14     Martha M Tom     Martha      Tom       9737 Davona Dr  90
15       Martha Tom     Martha      Tom       9737 Davona Dr  0"
16         Nate Tom       Nate      Tom   3375 Ashbourne Cir  0"
17      Scott Y Tom      Scott      Tom      3325 El Suyo Dr  52
18        Scott Tom      Scott      Tom      3325 El Suyo Dr  0"
19        Steve Tom      Steve      Tom       3336 Estero Dr  0"
20        Steve Tom      Steve      Tom       3328 Estero Dr  0"
21     Steven T Tom     Steven      Tom       3336 Estero Dr  57
22     Steven T Tom     Steven      Tom       3328 Estero Dr  57
          FullName FirstName LastName           AddressLine1 Age
0    Earl E Treyes      Earl   Treyes  36 Terraced Hills Cir  50
1      Earl Treyes      Earl   Treyes  36 Terraced Hills Cir  0"
2      Earl Treyes      Earl   Treyes    830 Sutter Creek Ln  0"
3    Jill D Treyes      Jill   Treyes  36 Terraced Hills Cir  49
4      Jill Treyes      Jill   Treyes  36 Terraced Hills Cir  0"
5  Rachel V Treyes    Rachel   Treyes  36 Terraced Hills Cir  0"
             FullName FirstName  LastName   AddressLine1 Age
0     Arno M Trottier      Arno  Trottier  3061 Ascot Dr  49
1       Arno Trottier      Arno  Trottier  3061 Ascot Dr  49
2  Cameron D Trottier   Cameron  Trottier  3061 Ascot Dr  53
3     Cammie Trottier    Cammie  Trottier  3061 Ascot Dr  0"
               FullName FirstName  LastName     AddressLine1 Age
0     Angela F Trouette    Angela  Trouette  2572 Toltec Cir  51
1       Angela Trouette    Angela  Trouette  2572 Toltec Cir  0"
2  Brian Keith Trouette     Brian  Trouette  2572 Toltec Cir  53
3        Brian Trouette     Brian  Trouette  2572 Toltec Cir  0"
              FullName  FirstName LastName           AddressLine1 Age
0   Catherine B Truong  Catherine   Truong          55 Elmwood Dr  29
1     Catherine Truong  Catherine   Truong          55 Elmwood Dr  29
2         Dan T Truong        Dan   Truong    7410 Sedgefield Ave  51
3         Fanny Truong      Fanny   Truong         981 Harness Dr  62
4       Fanny D Truong      Fanny   Truong       3048 Bernard Ave  62
5         Fanny Truong      Fanny   Truong         981 Harness Dr  0"
6         Fanny Truong      Fanny   Truong       3048 Bernard Ave  0"
7        Hien C Truong       Hien   Truong        9829 Del Mar Dr  0"
8       Jason T Truong      Jason   Truong          173 Arvada Ct  45
9       Jessica Truong    Jessica   Truong        9829 Del Mar Dr  0"
10   Jonathan C Truong   Jonathan   Truong          173 Arvada Ct  0"
11     Jonathan Truong   Jonathan   Truong          173 Arvada Ct  0"
12   Jonathan T Truong   Jonathan   Truong          173 Arvada Ct  87
13     Kristine Truong   Kristine   Truong        255 Via Encanto  0"
14     Lawrence Truong   Lawrence   Truong             67 Eden Pl  0"
15       Leni P Truong       Leni   Truong  340 Countrybrook Loop  0"
16         Leni Truong       Leni   Truong  340 Countrybrook Loop  0"
17       Long V Truong       Long   Truong        255 Via Encanto  41
18         Long Truong       Long   Truong        255 Via Encanto  0"
19          Mai Truong        Mai   Truong        9829 Del Mar Dr  0"
20         Mi I Truong         Mi   Truong        2683 Durango Ln  0"
21    Michael S Truong    Michael   Truong             67 Eden Pl  49
22      Michael Truong    Michael   Truong             67 Eden Pl  0"
23    Minh Chau Truong       Minh   Truong      3031 Cabrillo Ave  43
24         Minh Truong       Minh   Truong      3031 Cabrillo Ave  0"
25         Phan Truong       Phan   Truong             67 Eden Pl  0"
26       Phoebe Truong     Phoebe   Truong          55 Elmwood Dr  0"
27     Phoebe P Truong     Phoebe   Truong          55 Elmwood Dr  0"
28      Sammy Q Truong      Sammy   Truong       5052 Westside Dr  40
29        Sammy Truong      Sammy   Truong       5052 Westside Dr  0"
30   Stephany T Truong   Stephany   Truong       5052 Westside Dr  38
31     Stephany Truong   Stephany   Truong       5052 Westside Dr  0"
32        Steve Truong      Steve   Truong      74 Casa Grande Pl  0"
33      Steve V Truong      Steve   Truong      74 Casa Grande Pl  0"
34      Susanna Truong    Susanna   Truong      3031 Cabrillo Ave  0"
35        Tai K Truong        Tai   Truong      24 Centennial Way  59
36          Tai Truong        Tai   Truong      24 Centennial Way  0"
37      Timothy Truong    Timothy   Truong        9829 Del Mar Dr  0"
38      Tuong K Truong      Tuong   Truong        9829 Del Mar Dr  65
39      Tuong R Truong      Tuong   Truong        9829 Del Mar Dr  0"
40        Tuong Truong      Tuong   Truong        9829 Del Mar Dr  0"
41     Van Tuan Truong        Van   Truong    7410 Sedgefield Ave  0"
42      Vantuan Truong    Vantuan   Truong    7410 Sedgefield Ave  0"
          FullName FirstName LastName          AddressLine1 Age
0    Kasim Y Tuman     Kasim    Tuman  2465 Camino De Jugar  0"
1      Kasim Tuman     Kasim    Tuman  2465 Camino De Jugar  0"
2    Minawar Tuman   Minawar    Tuman  2465 Camino De Jugar  0"
3  Minawar T Tuman   Minawar    Tuman  2465 Camino De Jugar  45
           FullName FirstName LastName     AddressLine1 Age
0       Arriya Uong    Arriya     Uong  2540 Toltec Cir  0"
1       Mike M Uong      Mike     Uong  2540 Toltec Cir  50
2  Sarath Mike Uong    Sarath     Uong  2540 Toltec Cir  0"
3       Sarath Uong    Sarath     Uong  2540 Toltec Cir  0"
       FullName FirstName LastName    AddressLine1 Age
0  Ramesh R Urs    Ramesh      Urs  25 San Blas Pl  0"
           FullName  FirstName LastName             AddressLine1 Age
0    Cassandra Vago  Cassandra     Vago  3718 Canyon Village Cir  44
1  Cassandra C Vago  Cassandra     Vago  3718 Canyon Village Cir  0"
2     Sandra C Vago     Sandra     Vago  3718 Canyon Village Cir  44

              FullName FirstName  LastName   AddressLine1 Age
0  Yatindra A Vaishnav  Yatindra  Vaishnav  2864 Ascot Dr  0"
1    Yatindra Vaishnav  Yatindra  Vaishnav  2864 Ascot Dr  0"
             FullName FirstName LastName                 AddressLine1 Age
0      Basilio Valdez   Basilio   Valdez          2616 Promontory Cir  0"
1        Carol Valdez     Carol   Valdez      1512 Canyon Village Cir  0"
2       Dana M Valdez      Dana   Valdez               1520 Cutter Ct  51
3         Dana Valdez      Dana   Valdez               1520 Cutter Ct  0"
4    Jessica C Valdez   Jessica   Valdez         7453 Interlachen Ave  36
5      Jessica Valdez   Jessica   Valdez         7453 Interlachen Ave  0"
6          Lee Valdez       Lee   Valdez             3032 Bernard Ave  0"
7          Lee Valdez       Lee   Valdez             3032 Bernard Ave  95
8      Michael Valdez   Michael   Valdez               1520 Cutter Ct  0"
9        Nancy Valdez     Nancy   Valdez               9622 Davona Dr  0"
10       Olene Valdez     Olene   Valdez               1520 Cutter Ct  0"
11  Patricia G Valdez  Patricia   Valdez  20709 San Ramon Valley Blvd  73
12    Patricia Valdez  Patricia   Valdez  20709 San Ramon Valley Blvd  0"
13     Vanessa Valdez   Vanessa   Valdez                8 Metairie Ct  0"
14      Yves M Valdez      Yves   Valdez          1427 Promontory Ter  31
15        Yves Valdez      Yves   Valdez          1427 Promontory Ter  0"
             FullName FirstName  LastName      AddressLine1 Age
0  Krishna K Varanasi   Krishna  Varanasi  3000 Kittery Ave  0"
1    Lalitha Varanasi   Lalitha  Varanasi  3000 Kittery Ave  0"
2     Rama K Varanasi      Rama  Varanasi  3000 Kittery Ave  47
3       Rama Varanasi      Rama  Varanasi  3000 Kittery Ave  0"
             FullName  FirstName LastName       AddressLine1 Age
0   Angelica E Varela   Angelica   Varela     3240 Estero Dr  51
1     Angelica Varela   Angelica   Varela     3240 Estero Dr  40
2    Elizabeth Varela  Elizabeth   Varela  106 Stone Pine Ln  0"
3     Elvira E Varela     Elvira   Varela     3240 Estero Dr  72
4          Eve Varela        Eve   Varela   3080 Riviera Way  0"
5         Lisa Varela       Lisa   Varela        PO Box 2721  0"
6      Marcelo Varela    Marcelo   Varela        PO Box 2721  0"
7     Marcus P Varela     Marcus   Varela   3080 Riviera Way  47
8       Marcus Varela     Marcus   Varela   3080 Riviera Way  0"
9       Marlon Varela     Marlon   Varela     3240 Estero Dr  40
10    Marlon E Varela     Marlon   Varela     3240 Estero Dr  0"
11     Susan E Varela      Susan   Varela   3080 Riviera Way  46
12       Susan Varela      Susan   Varela   3080 Riviera Way  0"
            FullName FirstName LastName         AddressLine1 Age
0    Abigail Vaughan   Abigail  Vaughan   4071 Dunbarton Cir  0"
1   Blanca C Vaughan    Blanca  Vaughan  3296 Casa Grande Dr  53
2     Blanca Vaughan    Blanca  Vaughan  3296 Casa Grande Dr  0"
3   Danielle Vaughan  Danielle  Vaughan       68 Ayamonte Ct  0"
4    Dylan J Vaughan     Dylan  Vaughan   4071 Dunbarton Cir  47
5      Dylan Vaughan     Dylan  Vaughan   4071 Dunbarton Cir  0"
6  Heather A Vaughan   Heather  Vaughan   4071 Dunbarton Cir  46
7    Heather Vaughan   Heather  Vaughan   4071 Dunbarton Cir  0"
8   Joseph W Vaughan    Joseph  Vaughan  3296 Casa Grande Dr  53
9     Joseph Vaughan    Joseph  Vaughan  3296 Casa Grande Dr  0"
                    FullName      FirstName     LastName        AddressLine1  \
0  Venkateswarlu Veerapaneni  Venkateswarlu  Veerapaneni  3131 Ashbourne Cir

  Age
0  48
               FullName  FirstName   LastName         AddressLine1 Age
0           A Velasquez          A  Velasquez  2832 Saint Denis Dr  0"
1     Aaron J Velasquez      Aaron  Velasquez  2832 Saint Denis Dr  0"
2   Anthony J Velasquez    Anthony  Velasquez  2832 Saint Denis Dr  0"
3    Benito A Velasquez     Benito  Velasquez       216 Triana Way  46
4      Benito Velasquez     Benito  Velasquez       216 Triana Way  0"
5   Christian Velasquez  Christian  Velasquez       216 Triana Way  0"
6       Craig Velasquez      Craig  Velasquez  2832 Saint Denis Dr  0"
7     Crystal Velasquez    Crystal  Velasquez  375 Reflections Cir  0"
8     Gregory Velasquez    Gregory  Velasquez        217 Gaucho Ct  0"
9      Imelda Velasquez     Imelda  Velasquez    9734 Tareyton Ave  0"
10    Jasmine Velasquez    Jasmine  Velasquez       216 Triana Way  0"
11  Jeffery U Velasquez    Jeffery  Velasquez    9734 Tareyton Ave  43
12    Jeffery Velasquez    Jeffery  Velasquez    9734 Tareyton Ave  0"
13   Joseph C Velasquez     Joseph  Velasquez  2832 Saint Denis Dr  54
14     Joseph Velasquez     Joseph  Velasquez  2832 Saint Denis Dr  0"
15  Josephine Velasquez  Josephine  Velasquez    9734 Tareyton Ave  0"
16      Kayla Velasquez      Kayla  Velasquez  375 Reflections Cir  0"
17      Ket L Velasquez        Ket  Velasquez       216 Triana Way  46
18     Leslie Velasquez     Leslie  Velasquez        217 Gaucho Ct  0"
19    Nevin H Velasquez      Nevin  Velasquez  2832 Saint Denis Dr  54
20    Nivin H Velasquez      Nivin  Velasquez  2832 Saint Denis Dr  54
21      Nivin Velasquez      Nivin  Velasquez  2832 Saint Denis Dr  0"
22    Ricardo Velasquez    Ricardo  Velasquez       3240 Estero Dr  0"
23  Roberto P Velasquez    Roberto  Velasquez    9734 Tareyton Ave  74
24    Roberto Velasquez    Roberto  Velasquez    9734 Tareyton Ave  0"
              FullName  FirstName   LastName         AddressLine1 Age
0      Kadur Venkatesh      Kadur  Venkatesh       9817 Davona Dr  0"
1    Kadur R Venkatesh      Kadur  Venkatesh       9817 Davona Dr  74
2     Mrinal Venkatesh     Mrinal  Venkatesh    27103 Via Vicenza  0"
3    Perumal Venkatesh    Perumal  Venkatesh  2855 Saint Denis Dr  44
4  Sangeetha Venkatesh  Sangeetha  Venkatesh       985 Via Veneto  0"
        FullName FirstName LastName          AddressLine1 Age
0  Daniel J Vera    Daniel     Vera  2428 Camino De Jugar  48
1    Daniel Vera    Daniel     Vera  2428 Camino De Jugar  0"
2  Daniel V Vera    Daniel     Vera  2428 Camino De Jugar  0"
3     Julia Vera     Julia     Vera      3088 Riviera Way  53
4    June D Vera      June     Vera  2428 Camino De Jugar  45
                 FullName FirstName LastName          AddressLine1 Age
0           Mario N Vigil     Mario    Vigil  7581 Interlachen Ave  47
1             Mario Vigil     Mario    Vigil  7581 Interlachen Ave  0"
2  Stacie L Granada Vigil    Stacie    Vigil        62 Hazelnut Ct  0"
3           Stacy G Vigil     Stacy    Vigil        62 Hazelnut Ct  45
             FullName FirstName LastName             AddressLine1 Age
0      Adam P Vincent      Adam  Vincent           9611 Davona Dr  40
1        Adam Vincent      Adam  Vincent           9611 Davona Dr  0"
2    Carrie A Vincent    Carrie  Vincent           9611 Davona Dr  38
3      Carrie Vincent    Carrie  Vincent           9611 Davona Dr  0"
4       Casey Vincent     Casey  Vincent      412 Pocono Manor Pl  0"
5   Chelsea S Vincent   Chelsea  Vincent        2431 Ascension Dr  0"
6       Clyde Vincent     Clyde  Vincent        2431 Ascension Dr  0"
7    Desire M Vincent    Desire  Vincent        9808 Broadmoor Dr  28
8      Desire Vincent    Desire  Vincent        9808 Broadmoor Dr  0"
9    Desire V Vincent    Desire  Vincent        2431 Ascension Dr  28
10     Desire Vincent    Desire  Vincent        2431 Ascension Dr  0"
11     Dinesh Vincent    Dinesh  Vincent         170 Terrazzo Cir  0"
12        Don Vincent       Don  Vincent        2431 Ascension Dr  0"
13   Donald W Vincent    Donald  Vincent        2431 Ascension Dr  63
14   Donald W Vincent    Donald  Vincent        2431 Ascension Dr  0"
15      Karen Vincent     Karen  Vincent      445 Reflections Cir  0"
16     Laurie Vincent    Laurie  Vincent  3518 Canyon Village Cir  0"
17    Loretta Vincent   Loretta  Vincent        2431 Ascension Dr  0"
18    Michael Vincent   Michael  Vincent            168 Arvada Ct  0"
19     Nita C Vincent      Nita  Vincent             422 Gregg Pl  74
20    Patti A Vincent     Patti  Vincent        2431 Ascension Dr  58
21      Patti Vincent     Patti  Vincent        2431 Ascension Dr  0"
22     Rohert Vincent    Rohert  Vincent         9993 Windsor Way  0"
23   Shaina L Vincent    Shaina  Vincent        2431 Ascension Dr  0"
24     Tamera Vincent    Tamera  Vincent            168 Arvada Ct  0"
25      Tammy Vincent     Tammy  Vincent            168 Arvada Ct  0"
26      Wanda Vincent     Wanda  Vincent    2794 Camino Venadillo  0"

          FullName FirstName LastName     AddressLine1 Age
0    Jenna M Vivar     Jenna    Vivar  2821 Bowlin Ave  0"
1      Jenna Vivar     Jenna    Vivar  2821 Bowlin Ave  0"
2     Lauren Vivar    Lauren    Vivar  2822 Bowlin Ave  0"
3     Liza D Vivar      Liza    Vivar  2822 Bowlin Ave  52
4       Liza Vivar      Liza    Vivar  2822 Bowlin Ave  0"
5  Nicasio A Vivar   Nicasio    Vivar  2822 Bowlin Ave  0"
6    Nicasio Vivar   Nicasio    Vivar  2822 Bowlin Ave  0"
7     Nick A Vivar      Nick    Vivar  2822 Bowlin Ave  57
8       Nick Vivar      Nick    Vivar  2822 Bowlin Ave  0"
            FullName FirstName LastName   AddressLine1 Age
0  Jennifer D Wasley  Jennifer   Wasley  93 Pioneer Ct  48
1    Jennifer Wasley  Jennifer   Wasley  93 Pioneer Ct  48
2   Michael J Wasley   Michael   Wasley  93 Pioneer Ct  48
3     Michael Wasley   Michael   Wasley  93 Pioneer Ct  48
                 FullName      FirstName LastName          AddressLine1 Age
0        Althea B Watkins         Althea  Watkins    160 Reflections Dr  76
1          Althea Watkins         Althea  Watkins    160 Reflections Dr  0"
2       Bradley D Watkins        Bradley  Watkins     9754 Tareyton Ave  31
3         Bradley Watkins        Bradley  Watkins     9754 Tareyton Ave  42
4         Breanna Watkins        Breanna  Watkins  2465 Camino De Jugar  0"
5         David W Watkins          David  Watkins     9754 Tareyton Ave  65
6           David Watkins          David  Watkins     9754 Tareyton Ave  65
7     Gloria Jean Watkins         Gloria  Watkins          312 Alora Ct  73
8          Gloria Watkins         Gloria  Watkins          312 Alora Ct  0"
9            John Watkins           John  Watkins       2623 Menorca Ct  0"
10    Katherine A Watkins      Katherine  Watkins      3243 Ensenada Dr  42
11          Katie Watkins          Katie  Watkins      3243 Ensenada Dr  39
12      Kenneth A Watkins        Kenneth  Watkins      3243 Ensenada Dr  41
13  Kennethandrew Watkins  Kennethandrew  Watkins      3243 Ensenada Dr  0"
14        Kevin W Watkins          Kevin  Watkins          312 Alora Ct  41
15          Kevin Watkins          Kevin  Watkins          312 Alora Ct  0"
16        Linda D Watkins          Linda  Watkins     9754 Tareyton Ave  63
17          Linda Watkins          Linda  Watkins     9754 Tareyton Ave  0"
18      Perry Lee Watkins          Perry  Watkins          312 Alora Ct  72
19          Perry Watkins          Perry  Watkins          312 Alora Ct  0"
20           Ross Watkins           Ross  Watkins  112 Norris Canyon Pl  0"
21           Sean Watkins           Sean  Watkins     9754 Tareyton Ave  0"
22         Sean N Watkins           Sean  Watkins     9754 Tareyton Ave  0"
                       FullName    FirstName LastName           AddressLine1  \
0                Aaron G Watson        Aaron   Watson        830 Pradera Way
1                 Amanda Watson       Amanda   Watson    1523 Promontory Ter
2                 Angela Watson       Angela   Watson  427 Countrybrook Loop
3                 Angela Watson       Angela   Watson  372 Countrybrook Loop
4              Arleyne B Watson      Arleyne   Watson            PO Box 3594
5                Arleyne Watson      Arleyne   Watson            PO Box 3594
6              Auralie C Watson      Auralie   Watson        105 Compton Cir
7                  Brian Watson        Brian   Watson  427 Countrybrook Loop
8                  Brian Watson        Brian   Watson        830 Pradera Way
9                 Carina Watson       Carina   Watson    1433 Promontory Ter
10              Charlene Watson     Charlene   Watson            PO Box 3594
11                 Chase Watson        Chase   Watson        715 Pradera Way
12                 Chase Watson        Chase   Watson      2984 Sombrero Cir
13              Christie Watson     Christie   Watson       2463 Talavera Dr
14  Christopher Michael Watson"  Christopher   Watson        105 Compton Cir
15           Christopher Watson  Christopher   Watson        105 Compton Cir
16           Christopher Watson  Christopher   Watson        105 Compton Cir
17               Corey D Watson        Corey   Watson            50 Alton Pl
18                 Corey Watson        Corey   Watson             PO Box 474
19                Darren Watson       Darren   Watson            PO Box 3594
20               David J Watson        David   Watson            PO Box 3594
21                 David Watson        David   Watson            PO Box 3594
22               Donna D Watson        Donna   Watson        830 Pradera Way
23                 Donna Watson        Donna   Watson        830 Pradera Way
24                 Doris Watson        Doris   Watson          2742 Corey Pl
25                Eric M Watson         Eric   Watson          2580 Marsh Dr
26                  Eric Watson         Eric   Watson          2580 Marsh Dr
27                Gale C Watson         Gale   Watson        105 Compton Cir
28                  Gale Watson         Gale   Watson        105 Compton Cir
29                  Gale Watson         Gale   Watson        105 Compton Cir
30            Jacqueline Watson   Jacqueline   Watson      2865 Sombrero Cir
31         Jacquelinea A Watson  Jacquelinea   Watson      2865 Sombrero Cir
32          James Finlay Watson        James   Watson        9891 Del Mar Dr
33                 James Watson        James   Watson        9891 Del Mar Dr
34           John Robert Watson         John   Watson          2742 Corey Pl
35                  John Watson         John   Watson          2742 Corey Pl
36                John P Watson         John   Watson          2742 Corey Pl
37                  John Watson         John   Watson   60 Cedar Pointe Loop
38              Joseph R Watson       Joseph   Watson      2865 Sombrero Cir
39                Joseph Watson       Joseph   Watson      2865 Sombrero Cir
40                 Katie Watson        Katie   Watson      2996 Sombrero Cir
41               Marci S Watson        Marci   Watson       304 Hillcrest Ct
42                 Marci Watson        Marci   Watson       304 Hillcrest Ct
43                 Marcy Watson        Marcy   Watson          2742 Corey Pl
44                Mary E Watson         Mary   Watson        830 Pradera Way
45               Megan M Watson        Megan   Watson      2865 Sombrero Cir
46               Michael Watson      Michael   Watson    2935 Pine Valley Rd
47             Michael B Watson      Michael   Watson    2935 Pine Valley Rd
48               Michael Watson      Michael   Watson   40 Cedar Pointe Loop
49                  Niki Watson         Niki   Watson          304 Andora Ln
50                 Randy Watson        Randy   Watson      2865 Sombrero Cir
51             Richard J Watson      Richard   Watson       304 Hillcrest Ct
52               Richard Watson      Richard   Watson       304 Hillcrest Ct
53                  Rick Watson         Rick   Watson            PO Box 1376
54             Sharman D Watson      Sharman   Watson     1039 Hawkshead Cir
55                 Stacy Watson        Stacy   Watson           48 Cuenca Ct
56             Timothy B Watson      Timothy   Watson        830 Pradera Way
57               Timothy Watson      Timothy   Watson        830 Pradera Way
58              Victoria Watson     Victoria   Watson        105 Compton Cir

   Age
0   0"
1   0"
2   0"
3   0"
4   67
5   0"
6   0"
7   0"
8   0"
9   0"
10  0"
11  0"
12  0"
13  0"
14  38
15  0"
16  0"
17  0"
18  0"
19  0"
20  69
21  0"
22  53
23  0"
24  0"
25  0"
26  0"
27  70
28  70
29  0"
30  0"
31  57
32  68
33  0"
34  54
35  95
36  95
37  0"
38  55
39  0"
40  0"
41  68
42  0"
43  0"
44  0"
45  0"
46  0"
47  0"
48  0"
49  81
50  0"
51  67
52  0"
53  0"
54  0"
55  0"
56  57
57  0"
58  0"
              FullName  FirstName LastName        AddressLine1 Age
0       Brett A Weaver      Brett   Weaver      9721 Davona Dr  0"
1      Cheryl L Weaver     Cheryl   Weaver  3236 Ashbourne Cir  49
2        Cheryl Weaver     Cheryl   Weaver  3236 Ashbourne Cir  0"
3         Clare Weaver      Clare   Weaver     421 Barranca Ct  55
4       Clare M Weaver      Clare   Weaver     421 Barranca Ct  62
5     Jessica M Weaver    Jessica   Weaver     421 Barranca Ct  0"
6         Lance Weaver      Lance   Weaver  3236 Ashbourne Cir  0"
7       Lance T Weaver      Lance   Weaver  3236 Ashbourne Cir  0"
8   Priscilla L Weaver  Priscilla   Weaver   9952 San Luis Ave  0"
9     Priscilla Weaver  Priscilla   Weaver   9952 San Luis Ave  0"
10     Robert L Weaver     Robert   Weaver     421 Barranca Ct  66
11       Robert Weaver     Robert   Weaver   2947 Sombrero Cir  0"
12       Robert Weaver     Robert   Weaver     421 Barranca Ct  0"
13         Sean Weaver       Sean   Weaver      3374 Estero Dr  0"
14       Sean L Weaver       Sean   Weaver      3374 Estero Dr  0"
15        Susan Weaver      Susan   Weaver      51 Hazelnut Ct  0"

          FullName FirstName LastName     AddressLine1 Age
0    Geoffrey Weed  Geoffrey     Weed  3309 El Suyo Dr  0"
1     Jason A Weed     Jason     Weed  2631 Celaya Cir  49
2       Jason Weed     Jason     Weed  2631 Celaya Cir  0"
3    Jaycie H Weed    Jaycie     Weed  2631 Celaya Cir  0"
4   Maria V P Weed     Maria     Weed  3309 El Suyo Dr  0"
5       Maria Weed     Maria     Weed  3309 El Suyo Dr  62
6     Maria R Weed     Maria     Weed  3309 El Suyo Dr  51
7    Stacie F Weed    Stacie     Weed  2631 Celaya Cir  0"
8      Stacie Weed    Stacie     Weed  2631 Celaya Cir  0"
9     William Weed   William     Weed  3309 El Suyo Dr  51
10  William J Weed   William     Weed  3309 El Suyo Dr  0"
11   Ysabelle Weed  Ysabelle     Weed  3309 El Suyo Dr  0"
            FullName FirstName LastName              AddressLine1 Age
0          Alan West      Alan     West        636 Promontory Ter  0"
1           Ali West       Ali     West           3231 De Anza Pl  0"
2        Angela West    Angela     West        747 Winterside Cir  0"
3         Bryan West     Bryan     West            22 Westside Ct  36
4             C West         C     West          9205 Fircrest Ln  0"
5   Carrie Lynn West    Carrie     West         2952 Sombrero Cir  53
6       Comfort West   Comfort     West       5 Almond Orchard Ln  0"
7       Doris J West     Doris     West           535 Marlboro Ct  94
8         Doris West     Doris     West           535 Marlboro Ct  0"
9      Gordon W West    Gordon     West            9644 Davona Dr  61
10       Gordon West    Gordon     West            9644 Davona Dr  61
11        Jay M West       Jay     West     3751 Norris Canyon Rd  52
12          Jay West       Jay     West     3751 Norris Canyon Rd  0"
13         Joni West      Joni     West            9644 Davona Dr  0"
14       Joshua West    Joshua     West     3751 Norris Canyon Rd  0"
15         Jr C West        Jr     West          9205 Fircrest Ln  0"
16        Marie West     Marie     West           126 Corrinne Ct  0"
17        Marie West     Marie     West         9025 Alcosta Blvd  0"
18     Martin L West    Martin     West            9644 Davona Dr  0"
19       Martin West    Martin     West            9644 Davona Dr  0"
20    Melissa A West   Melissa     West     3751 Norris Canyon Rd  45
21      Melissa West   Melissa     West     3751 Norris Canyon Rd  0"
22    Roberta J West   Roberta     West  2740 Bollinger Canyon Rd  70
23      Sabrina West   Sabrina     West                20 Yale Ct  0"
24     Willie J West    Willie     West            9644 Davona Dr  95
25       Willie West    Willie     West            9644 Davona Dr  71
26    Willie West Jr    Willie     West            9644 Davona Dr  0"
27     Willie J West    Willie     West            9644 Davona Dr  71
28     Yvonne R West    Yvonne     West           2548 Toltec Cir  50
29       Yvonne West    Yvonne     West           2548 Toltec Cir  0"
              FullName    FirstName LastName             AddressLine1 Age
0  Christopher Wharton  Christopher  Wharton  1616 Canyon Village Cir  0"
1      Corey J Wharton        Corey  Wharton  1617 Canyon Village Cir  0"
2    Michael D Wharton      Michael  Wharton              64 Moore Ct  50
3      Michael Wharton      Michael  Wharton              64 Moore Ct  0"
4     Monica P Wharton       Monica  Wharton              64 Moore Ct  48
5       Monica Wharton       Monica  Wharton              64 Moore Ct  0"
                 FullName  FirstName  LastName AddressLine1 Age
0       Donald D Whiteman     Donald  Whiteman   25 Saba Ct  0"
1         Donald Whiteman     Donald  Whiteman   25 Saba Ct  0"
2        Kevin J Whiteman      Kevin  Whiteman   25 Saba Ct  50
3          Kevin Whiteman      Kevin  Whiteman   25 Saba Ct  0"
4  Stephanie Ann Whiteman  Stephanie  Whiteman   25 Saba Ct  50
5      Stephanie Whiteman  Stephanie  Whiteman   25 Saba Ct  0"
                FullName  FirstName      LastName          AddressLine1 Age
0         Alena M Wilson      Alena        Wilson    150 Reflections Dr  42
1       Alexandra Wilson  Alexandra        Wilson      2724 Sherbear Dr  0"
2           Allie Wilson      Allie        Wilson      2724 Sherbear Dr  0"
3           Angie Wilson      Angie        Wilson  2601 Fountainhead Dr  0"
4          Anissa Wilson     Anissa        Wilson           14 Lorca Ct  0"
..                   ...        ...           ...                   ...  ..
143       Valerie Wilson    Valerie        Wilson   2524 Promontory Cir  65
144    Veronica B Wilson   Veronica        Wilson           PO Box 2732  74
145      Veronica Wilson   Veronica        Wilson           PO Box 2732  0"
146         Willy Wilson      Willy        Wilson  2737 Fountainhead Dr  0"
147  Eileen Wilson-Koops     Eileen  Wilson-Koops    937 Springview Cir  0"

[148 rows x 5 columns]
          FullName FirstName   LastName      AddressLine1 Age
0  Mandy Wollaston     Mandy  Wollaston  610 Weatherly Pl  0"
                FullName  FirstName  LastName       AddressLine1 Age
0     Anthony J Woodward    Anthony  Woodward      2697 Derby Dr  57
1       Anthony Woodward    Anthony  Woodward      2697 Derby Dr  0"
2       Bryce L Woodward      Bryce  Woodward      2697 Derby Dr  0"
3         Bryce Woodward      Bryce  Woodward      2697 Derby Dr  0"
4   Catherine E Woodward  Catherine  Woodward    312 Cardona Cir  58
5     Catherine Woodward  Catherine  Woodward    312 Cardona Cir  0"
6         Diane Woodward      Diane  Woodward      2697 Derby Dr  0"
7       Linda A Woodward      Linda  Woodward  110 Sunnybrook Pl  55
8         Linda Woodward      Linda  Woodward  110 Sunnybrook Pl  0"
9       Scott M Woodward      Scott  Woodward  110 Sunnybrook Pl  53
10        Scott Woodward      Scott  Woodward  110 Sunnybrook Pl  0"
        FullName FirstName LastName                 AddressLine1 Age
0          B Xie         B      Xie  20709 San Ramon Valley Blvd  0"
1     Bihong Xie    Bihong      Xie            2840 Westwood Ave  51
2       Bu Q Xie        Bu      Xie              301 Kingsley Pl  0"
3         Bu Xie        Bu      Xie              301 Kingsley Pl  0"
4       Deyi Xie      Deyi      Xie         20 Cedar Pointe Loop  0"
5      Flora Xie     Flora      Xie             152 Baltusrol Pl  0"
6        Hao Xie       Hao      Xie             152 Baltusrol Pl  50
7        Ruo Xie       Ruo      Xie                 255 Ryan Ter  0"
8      Ruo M Xie       Ruo      Xie                 255 Ryan Ter  0"
9      Ruo K Xie       Ruo      Xie                 255 Ryan Ter  39
10     Shane Xie     Shane      Xie              301 Kingsley Pl  0"
11     Shawn Xie     Shawn      Xie           707 Winterside Cir  0"
12     Vicky Xie     Vicky      Xie          3017 Promontory Cir  0"
13      Xiyi Xie      Xiyi      Xie             173 Valdivia Cir  0"
14     Xuhui Xie     Xuhui      Xie           707 Winterside Cir  0"
15    Yunjun Xie    Yunjun      Xie             173 Valdivia Cir  58
16  Yunjun J Xie    Yunjun      Xie             173 Valdivia Cir  58
        FullName FirstName LastName          AddressLine1 Age
0  Pinghua Xiong   Pinghua    Xiong  7465 Interlachen Ave  0"
1  Yanpeng Xiong   Yanpeng    Xiong     9749 Alcosta Blvd  0"
               FullName   FirstName LastName         AddressLine1 Age
0        April D Yamada       April   Yamada  1426 Promontory Ter  39
1          April Yamada       April   Yamada  1426 Promontory Ter  0"
2         Daniel Yamada      Daniel   Yamada     165 Valdivia Cir  48
3            Eve Yamada         Eve   Yamada  1426 Promontory Ter  0"
4          Eve D Yamada         Eve   Yamada  1426 Promontory Ter  0"
5     Kristopher Yamada  Kristopher   Yamada  1426 Promontory Ter  37
6   Kristopher D Yamada  Kristopher   Yamada  1426 Promontory Ter  0"
7         Norman Yamada      Norman   Yamada     165 Valdivia Cir  46
8       Norman R Yamada      Norman   Yamada     165 Valdivia Cir  0"
9       Norman P Yamada      Norman   Yamada     165 Valdivia Cir  46
10      Raquel B Yamada      Raquel   Yamada     165 Valdivia Cir  45
11        Raquel Yamada      Raquel   Yamada     165 Valdivia Cir  0"
             FullName FirstName LastName        AddressLine1 Age
0    Farnoush Yassini  Farnoush  Yassini  3498 Ashbourne Cir  53
1  Farnoush H Yassini  Farnoush  Yassini  3498 Ashbourne Cir  53
2  Farnoush A Yassini  Farnoush  Yassini  3498 Ashbourne Cir  0"
3    Masoumeh Yassini  Masoumeh  Yassini  275 Reflections Dr  0"
4   Mohssen H Yassini   Mohssen  Yassini     932 Winsford Ct  63
5     Mohssen Yassini   Mohssen  Yassini     932 Winsford Ct  0"
6   Mostafa M Yassini   Mostafa  Yassini    9072 Craydon Cir  0"
7     Mostafa Yassini   Mostafa  Yassini    9072 Craydon Cir  0"

                   FullName     FirstName     LastName      AddressLine1 Age
0       Lakshmi Yenamareddy       Lakshmi  Yenamareddy  3024 Bernard Ave  44
1        Siva M Yenamareddy          Siva  Yenamareddy  3024 Bernard Ave  43
2  Sivanarayana Yenamareddy  Sivanarayana  Yenamareddy  3024 Bernard Ave  0"
                FullName FirstName     LastName           AddressLine1 Age
0             Adam Young      Adam        Young      2872 Sombrero Cir  0"
1           Adam T Young      Adam        Young      2872 Sombrero Cir  27
2             Alan Young      Alan        Young    7380 Sedgefield Ave  0"
3             Alex Young      Alex        Young         9646 Davona Dr  0"
4          Alvin M Young     Alvin        Young            65 Moore Ct  62
..                   ...       ...          ...                    ...  ..
164         Winnie Young    Winnie        Young  281 Norris Canyon Ter  0"
165          Young Young     Young        Young    223 Canyon Creek Ct  0"
166      Zachary B Young   Zachary        Young       2459 Dos Rios Dr  34
167        Zachary Young   Zachary        Young       2459 Dos Rios Dr  0"
168  Deborah Young-Perry   Deborah  Young-Perry         9904 Mangos Dr  0"

[169 rows x 5 columns]
         FullName FirstName LastName         AddressLine1 Age
0     Allebasi Yu  Allebasi       Yu  1023 Promontory Ter  0"
1     Andrew A Yu    Andrew       Yu    18 Centennial Way  53
2      Anita R Yu     Anita       Yu     104 Summerset Ct  0"
3         Anna Yu      Anna       Yu   810 Winterside Cir  0"
4      Bradley Yu   Bradley       Yu        47 Bigelow Pl  0"
..            ...       ...      ...                  ...  ..
66       Zenan Yu     Zenan       Yu    3353 Camarones Pl  0"
67        Zeng Yu      Zeng       Yu     54 Springview Ct  0"
68      Zeng T Yu      Zeng       Yu     54 Springview Ct  0"
69    Zhongxiu Yu  Zhongxiu       Yu    9085 Alcosta Blvd  0"
70  Chiao Yu-Feng     Chiao  Yu-Feng     4 Poppy Hills Ln  0"

[71 rows x 5 columns]
        FullName FirstName LastName     AddressLine1 Age
0  Evgueni A Zax   Evgueni      Zax  12232 Toledo Dr  51
1    Evgueni Zax   Evgueni      Zax  12232 Toledo Dr  0"
       FullName FirstName LastName   AddressLine1 Age
0  Chuxian Zhen   Chuxian     Zhen  18 Galicia Ct  0"
          FullName  FirstName LastName           AddressLine1 Age
0         Chun Zhu       Chun      Zhu    506 Fallen Leaf Cir  35
1      Chunjie Zhu    Chunjie      Zhu     424 Constantine Ct  52
2        Emily Zhu      Emily      Zhu            5 Balsam Ln  0"
3         Gino Zhu       Gino      Zhu       12903 Lawton Way  0"
4      Guojuan Zhu    Guojuan      Zhu       270 Terrazzo Cir  0"
5   Guoliang G Zhu   Guoliang      Zhu       12903 Lawton Way  0"
6     Guoliang Zhu   Guoliang      Zhu       12903 Lawton Way  0"
7   Izabella L Zhu   Izabella      Zhu  4732 Norris Canyon Rd  0"
8     Izabella Zhu   Izabella      Zhu  4732 Norris Canyon Rd  0"
9     Jianling Zhu   Jianling      Zhu  4712 Norris Canyon Rd  0"
10  Jianling E Zhu   Jianling      Zhu  4712 Norris Canyon Rd  0"
11    Lian Sen Zhu       Lian      Zhu    2328 Promontory Cir  67
12    Lian Fen Zhu       Lian      Zhu    2328 Promontory Cir  67
13        Rene Zhu       Rene      Zhu     285 Reflections Dr  0"
14      Runlin Zhu     Runlin      Zhu         2891 Calais Dr  0"
15      Tina T Zhu       Tina      Zhu       140 Woodcrest Dr  52
16    Tingfeng Zhu   Tingfeng      Zhu       140 Woodcrest Dr  0"
17   Weiming L Zhu    Weiming      Zhu     265 Reflections Dr  33
18     Weiming Zhu    Weiming      Zhu     265 Reflections Dr  0"
19     Wenyong Zhu    Wenyong      Zhu        388 Cardona Cir  54
20   Xianzhang Zhu  Xianzhang      Zhu     622 Promontory Ter  55
21     Xiaobin Zhu    Xiaobin      Zhu      3305 Vera Cruz Dr  0"
22   Xiaobin Y Zhu    Xiaobin      Zhu      3305 Vera Cruz Dr  49
23      Xinhua Zhu     Xinhua      Zhu            5 Balsam Ln  0"
24  Xinhua Hua Zhu     Xinhua      Zhu            5 Balsam Ln  52
25     Yingqun Zhu    Yingqun      Zhu   70 Cedar Pointe Loop  0"
26         Yun Zhu        Yun      Zhu           3 Juniper Dr  0"
            FullName FirstName LastName         AddressLine1 Age
0    Hector J Zuniga    Hector   Zuniga      10 Greystone Ct  63
1      Hector Zuniga    Hector   Zuniga      10 Greystone Ct  0"
2  Laurie Ann Zuniga    Laurie   Zuniga      10 Greystone Ct  60
3      Laurie Zuniga    Laurie   Zuniga      10 Greystone Ct  0"
4   Mariana L Zuniga   Mariana   Zuniga  335 Reflections Cir  0"
5     Mariana Zuniga   Mariana   Zuniga  335 Reflections Cir  47
6    Michelle Zuniga  Michelle   Zuniga      10 Greystone Ct  36
7  Michelle L Zuniga  Michelle   Zuniga      10 Greystone Ct  36
8  Michelle C Zuniga  Michelle   Zuniga      10 Greystone Ct  0"
9    Monica E Zuniga    Monica   Zuniga       9979 Mangos Dr  0"

In [110]:
df_with_info

             FullName FirstName LastName              AddressLine1 Age
0     Hector J Zuniga    Hector   Zuniga           10 Greystone Ct  63
1       Hector Zuniga    Hector   Zuniga           10 Greystone Ct  0"
2   Laurie Ann Zuniga    Laurie   Zuniga           10 Greystone Ct  60
3       Laurie Zuniga    Laurie   Zuniga           10 Greystone Ct  0"
4    Mariana L Zuniga   Mariana   Zuniga       335 Reflections Cir  0"
..                ...       ...      ...                       ...  ..
5       Rajeev Tiwari    Rajeev   Tiwari         60 Springhaven Ct  0"
0   Matthew R Tirrell   Matthew  Tirrell  1310 Bollinger Crest Cmn  49
1     Matthew Tirrell   Matthew  Tirrell  1310 Bollinger Crest Cmn  0"
2   Melanie A Tirrell   Melanie  Tirrell              311 Alora Ct  49
3     Melanie Tirrell   Melanie  Tirrell              311 Alora Ct  0"

[871 rows x 5 columns]

In [111]:
#convert it to a csv 
df_with_info.to_csv(r'/Users/aishvishah/Documents/brightfox/CalMelissa/CalExcel2025-12.csv')